@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Anta", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
}
.container {
  /* border: 2px solid green; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  background-color: antiquewhite;
}
h1 {
  text-align: center;
  padding: 1rem;
  background-color: azure;
}
#ulkeler {
  width: 300px;
  height: 100%;
  font-size: 1.2rem;
  border-radius: 5px;
  padding-left: 8px;
}
.show {
  border: 2px solid #000;
  border-radius: 8px;
  width: 350px;
  height: 600px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background-image: url(./img/sky-6811874_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.flag {
  border: 1px solid black;
  width: 300px;
  height: 200px;
  border-radius: 8px;
}
.info {
  border: 2px solid chocolate;
}
p {
  border: 2px solid rgb(127, 127, 163);
  padding-left: 5px;
  width: 300px;
  height: 2rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: rgb(130, 187, 236);
}
span{
  padding-left:0.5rem ;
  color: greenyellow;

}
a{
  color: greenyellow;
  /* text-decoration: none; */
  padding-left:0.5rem ;
}
