@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.img {
  /* border: 2px solid green; */
  width: 300px;
  height: 300px;
}
#img-src {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.isim {
  border: 2px solid orange;
  width: 300px;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  letter-spacing: 5px;
  -webkit-text-stroke: 1px rgb(138, 90, 90);
}
#btn {
  width: 150px;
  height: 2.5rem;
  border-radius: 8px;
  font-size: 1.2rem;
  &:hover {
    color: white;
    background-color: red;
    cursor: pointer;
  }
}
.count {
  border: 2px solid orangered;
  display: none;
  width: 300px;
  height: 3rem;
}
#countDown {
  display: none;
  width: 150px;
  height: 2.5rem;
  border-radius: 8px;
  font-size: 1.2rem;
  &:hover {
    color: white;
    background-color: red;
    cursor: pointer;
  }
}